/* GridLayout
 * 
 * Ionuț Colceriu - ghinda.net
 * https://github.com/ghinda/gridlayout
 */

.gl,
.gl .gl-row,
.gl .gl-col,
.gl .gl-scrollview {
  box-sizing: border-box;

  /* old android
   */
  -webkit-box-sizing: border-box;

  /* make scrollviews work in ios
   */
  -webkit-overflow-scrolling: touch;
  
  white-space: nowrap;
}

.gl {
  display: table;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
}

.gl-row {
  display: table-row;
}

.gl-col {
  position: relative;
  display: table-cell;
}

/* need this because IE8 and FF don't set the right height
 * on cells without non-absolute content.
 * we need to use real, non-whitespace, (eg. \A) content in it
 * for IE9+.
 */
.gl-col:after {
  content: '*';
  visibility: hidden;
}

/* we need to use an absolute container, because IE and FF don't
 * support overflow: auto on table cells.
 * when nesting grids, we always need to wrap .gl in a scrollview
 * otherwise browsers will make the cells with nested grids bigger.
 */
.gl-scrollview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* nested grids take up the full height
 */
.gl-col .gl {
  height: 100%;
}


/* cell sizes, 12 rows/columns, with 11 classes.
 * we don't need a specific class for the twelfth column,
 * because you can just use .gl-fill-height and a single cell.
 */

.gl-row.gl-1 {
  height: 8.3333%;
}

.gl-col.gl-1 {
  width: 8.3333%;
}

.gl-row.gl-2 {
  height: 16.6666%;
}

.gl-col.gl-2 {
  width: 16.6666%;
}

.gl-row.gl-3 {
  height: 25%;
}

.gl-col.gl-3 {
  width: 25%;
}

.gl-row.gl-4 {
  height: 33.3333%;
}

.gl-col.gl-4 {
  width: 33.3333%;
}

.gl-row.gl-5 {
  height: 41.6666%;
}

.gl-col.gl-5 {
  width: 41.6666%;
}

.gl-row.gl-6 {
  height: 50%;
}

.gl-col.gl-6 {
  width: 50%;
}

.gl-row.gl-7 {
  height: 58.3333%;
}

.gl-col.gl-7 {
  width: 58.3333%;
}

.gl-row.gl-8 {
  height: 66.6666%;
}

.gl-col.gl-8 {
  width: 66.6666%;
}

.gl-row.gl-9 {
  height: 75%;
}

.gl-col.gl-9 {
  width: 75%;
}

.gl-row.gl-10 {
  height: 83.3333%;
}

.gl-col.gl-10 {
  width: 83.3333%;
}

.gl-row.gl-11 {
  height: 91.6666%;
}

.gl-col.gl-11 {
  width: 91.6666%;
}

/* vertical alignment
 */

.gl-align-middle {
  vertical-align: middle;
}

.gl-align-bottom {
  vertical-align: bottom;
}

/* TODO spacing
 */

.gl-spaced {
/*   border-collapse: separate; */
/*   border-spacing: 1em; */
}

.gl-spaced > .gl-row {
  border-bottom: 10px solid red;
}

.gl-spaced > .gl-col,
.gl-spaced > .gl-row > .gl-col {
  border-right: 10px solid red;
}

.gl-spaced > .gl-row:last-child,
.gl-spaced > .gl-col:last-child,
.gl-spaced > .gl-row > .gl-col:last-child {
  border: 0;
}

/* firefox places the absolute scrollview over half the borders.
 */
@-moz-document url-prefix() { 
  .gl-spaced > .gl-row > .gl-scrollview,
  .gl-spaced > .gl-row > .gl-col > .gl-scrollview {
     padding: 5px 0;
  }
  
  .gl-spaced > .gl-col > .gl-scrollview,
  .gl-spaced > .gl-row > .gl-col > .gl-scrollview {
    left: 5px;
  }
  
  .gl-spaced > .gl-col:first-child > .gl-scrollview,
  .gl-spaced > .gl-row > .gl-col:first-child > .gl-scrollview {
    left: 0;
  }
}

/* TODO offsets
 */


/* TODO media queries
 */



/* utils
 */

.gl-fill-height {
  height: 100%;
}

.wut {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
