/* GridLayout
 */

.gl-container,
.gl-container .gl-row,
.gl-container .gl-col,
.gl-container .gl-col-scrollview {
  box-sizing: border-box;

  /* old android
   */
  -webkit-box-sizing: border-box;

  /* make scrollviews work in ios
   */
  -webkit-overflow-scrolling: touch;
  
  white-space: nowrap;
}

.gl-container {
  display: table;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
}

.gl-row {
  display: table-row;
}

.gl-col {
  position: relative;
  display: table-cell;
}

/* need this because IE8 and FF don't set the right height
 * on cells without non-absolute content.
 * we need to use real non-whitespace (eg. \A) content in it
 * for IE9+.
 */
.gl-col:after {
  content: '*';
  opacity: 0;
  pointer-events: none;
}

/* need to use an absolute container, otherwise IE and FF will
 * expand the box and cell height to show the entire content.
 */

/* TODO we always need to wrap -container in a scrollview
 * for nested grids, for firefox support.
 * otherwise firefox will not set the correct heights/widths 
 * for the nested cells.
 */
/* TODO firefox only sets the corrent height for the cell,
 * if the container parent in the cell is set to absolute
 */
/* TODO ie9 only doesn't set any height to the cell, if the only content in it is 
 * absolute. the :after hack for ie8/firefox doesn't seem to work for ie9
 */
.gl-scrollview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.gl-col .gl-container {
  height: 100%;
}


/* TODO sizes
 */

.gl-row.gl-1 {
  height: 8.3333%;
}

.gl-col.gl-1 {
  width: 8.3333%;
}

/* vertical alignment
 */

.gl-align-middle {
  vertical-align: middle;
}

.gl-align-bottom {
  vertical-align: bottom;
}

/* TODO guttered
 */

/* TODO offsets
 */

/* TODO media queries
 */



/* utils
 */

.gl-container-fill-height {
  height: 100%;
}

.wut {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
