/* gridlayout
 * website
 */

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  margin: 0 0 20px;

  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0 0 1em;

  line-height: 1.4em;
}

img {
  max-width: 100%;
}

.container {
  max-width: 820px;
  padding: 0 8px;
  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

.button {
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid grey;

  text-decoration: none;
}

.button-primary {
  background: black;
  border-color: black;

  color: #fff;
}

code {
  padding: 2px;
  background: #efefef;
}

pre code {
  padding: 0;
  background: transparent;
}

a {
  color: #008033;
}

a:focus,
a:hover {
  color: #00aa44;
}

a:active,
a:visited {
  color: #005522;
}

ul {
  margin: 0 0 1em;
}

.list-inline {
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
}

/* index
 */

/* header
 */

.header-home {
  padding: 8px 8px 40px;
  margin: 0 0 40px;
  background: #f2f2f2;

  text-align: center;
}

.logo-gridlayout {
  font-size: 28px;
  text-decoration:none;
}

.header-tagline {
  font-size: 24px;
  line-height: 1.8em;
}

.header-code {
  margin: 0 -8px 28px;
  padding: 8px;
  background: #ececec;
}

.header-code pre {
  margin: 0 0 1em;
}

.header-code pre:last-child {
  margin-bottom: 0;
}

/* browsers
*/

.logo-browser {
  width: 44px;
  margin-bottom: 8px;
}

.browsers-supported {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}

.browsers-supported li {
  padding-right: 4px;
}

.browsers-supported img {
  display: block;
  margin: 0 auto;
}

.browsers-limited {
  padding: 0 0 4px 12px;
}

.browsers-limited img {
  opacity: .5;
}

.notice-browsers-limited {
  padding: 4px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #efefef;

  font-weight: normal;
}

.notice-ie-support {
  font-size: 13px;
}

.notice-ie-support p {
  margin-bottom: .5em;
}

/* code
*/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f2f2f2;
}

/* footer
 */

footer {
  padding: 8px;
}

/* demo grids
 */

.gl-highlight .gl-cell {
  background: lightgreen;
  outline: 1px solid #fff;
}

.gl-inner {
  padding: 4px;
}

/* holy grai layout demo
 */

.content-hide {
  display: none;
}

.content-show {
  display: block !important;
}

/* demo header
 */

.header-demo {
  height: 50px;
}
