/* gridlayout
 * website
 */

html,
body {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* demo pages
 */

.page-demo {

}

.page-demo .gl-cell {
  background: lightgreen;
  outline: 1px solid #fff;
}
