---
layout: demo.html
title: ''
---

<div class="gl gl-vertical gl-highlight">

  <div class="gl-cell header" style="height: 80px">

    <div class="gl-inner">
      Holy Grail Header
    </div>

  </div>

  <div class="gl-cell">

    <div class="gl gl-fill">

      <div class="gl-cell gl-sm-2">

        <div class="gl-inner">
          Left Sidebar
        </div>

      </div>

      <div class="gl-cell">

        <div class="gl-inner">

          <h2>
            Holy Grail layout
          </h2>

          <button class="button button-primary js-toggle-content" data-content="holy-extra-content">
            Toggle extra content
          </button>

          <div class="content-hide" id="holy-extra-content">

            <blockquote>
              {{#markdown}}
                {{> extra-content }}
              {{/markdown}}
            </blockquote>

          </div>

        </div>

      </div>

      <div class="gl-cell gl-sm-2">

        <div class="gl-inner">
          Right Sidebar
        </div>

      </div>

    </div>

  </div>

  <div class="gl-cell footer" style="height: 50px">

    <div class="gl-inner">
      Holy Grail Footer
    </div>

  </div>

</div>
