---
layout: demo.html
title: ''
---

<div class="gl gl-vertical gl-highlight">

  <div class="gl-cell header">

    header

  </div>

  <div class="gl-cell">

    <div class="gl">

      <div class="gl-cell gl-sm-2">

        left

      </div>

      <div class="gl-cell">

        <div class="content-hide" id="holy-extra-content">

          cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell<br>cell

        </div>

        <button class="js-toggle-content" data-content="holy-extra-content">
          Toggle extra content, to see the layout shrink and stretch.
        </button>

      </div>

      <div class="gl-cell gl-sm-2">

        right

      </div>

    </div>

  </div>

  <div class="gl-cell footer">

    footer

  </div>

</div>
