---
layout: demo.html
title: 'GridMail'
mails:
- 1
- 2
- 3
- 4
- 5
- 6
- 7
- 8
- 9
- 10
---

<div class="gl gl-vertical gl-highlight">

  <div class="gl-cell mail-header">

    <div class="gl-inner">

      <h2>
        GridMail
      </h2>

    </div>

  </div>

  <div class="gl-cell">

    <div class="gl gl-fill">

      <div class="gl-cell gl-sm-2">

        <div class="gl-inner">

          <button class="button button-primary button-full">
            Compose
          </button>

          <ul class="mail-list">
            <li>
              <a href="#">
                Inbox
              </a>
            </li>
            <li>
              <a href="#">
                Sent Messages
              </a>
            </li>
          </ul>

        </div>

      </div>

      <div class="gl-cell gl-sm-4">

        <div class="gl-scrollview">
          <div class="gl-scrollview-content">

            <div class="gl-inner">

              <ul class="mail-list">
                <li>
                  <input type="text" placeholder="Search">
                </li>
                {{#each mails}}
                <li>
                  <a href="#">
                    <h4>
                      Message title
                    </h4>
                    <p>
                      Message content preview that is longer than the title..
                    </p>
                  </a>
                </li>
                {{/each}}
              </ul>

            </div>

          </div>
        </div>

      </div>

      <div class="gl-cell">

        <div class="gl-scrollview">
          <div class="gl-scrollview-content">

            <div class="gl-inner">

              <button class="button">Back</button>

              <h2>This is a message</h2>
              <p>Some Name - 6/12/2015</p>

              <hr>

              <p>
                Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
              </p>

              <p>
                Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
              </p>

              <p>
                Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
              </p>

              <p>
                Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
              </p>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="gl-cell mail-status">
    <div class="gl-inner">
      <strong>
        Status Bar
      </strong>
    </div>
  </div>

</div>
