---
layout: demo.html
title: ''
---

<div class="gl gl-vertical gl-highlight">

  <div class="gl-cell" style="height: 50px; background: blue">
    header
  </div>

  <div class="gl-cell">

    <div class="gl-scrollview">
      <div class="gl-scrollview-content">

        <div class="gl">

          <div class="gl-cell gl-sm-1">

            left

          </div>

          <div class="gl-cell">

            <div class="gl-scrollview">
              <div class="gl-scrollview-content">

                <a class="button secondary expand hide-for-medium" zf-open="sub-nav">This</a>
                <section class="block-list">
                <li>
                <input type="text" placeholder="Search">

                </li><li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                <li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                <li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                <li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                <li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                <li>
                <a zf-toggle="message">
                <h5>This is a message</h5>
                <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                </a>
                </li>
                </section>

              </div>
            </div>

          </div>

          <div class="gl-cell">

            <div class="gl-scrollview">
              <div class="gl-scrollview-content">

                <a class="hide-for-medium button tiny ng-scope" zf-close="message">Back</a>
                <h2 class="ng-scope">This is a message</h2>
                <p class="ng-scope">Mike Meyers - 6/12/2014</p>
                <hr class="ng-scope">
                <p class="ng-scope">Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
                </p>
                <p class="ng-scope">Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
                </p>
                <p class="ng-scope">Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
                </p>
                <p class="ng-scope">Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu.
                </p>


              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="gl-cell" style="height: 100px">
    footer
  </div>

</div>
