---
layout: demo.html
title: ''
---

<div class="gl">

  <div class="gl-cell gl-align-bottom">
    bottom
  </div>

  <div class="gl-cell gl-align-middle" style="height: 300px">

    <div style="background: blue; width: 100px; height: 100px">
      middle
    </div>

  </div>

  <div class="gl-cell">
    top
  </div>

</div>
