---
layout: demo.html
title: ''
---

<div class="gl gl-vertical gl-highlight">

  <div class="gl-cell">

    <div class="content-hide" id="sticky-extra-content">
      content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>content<br>
    </div>

    <button type="button" class="js-toggle-content" data-content="sticky-extra-content">
      Toggle extra content, to see the footer stay at the bottom.
    </button>

  </div>

  <div class="gl-cell" style="height: 100px">
    footer
  </div>

</div>
