---
layout: demo.html
title: ''
---

<div class="container">

  <div class="gl gl-vertical gl-highlight">

    <div class="gl-cell">

      <div class="gl-inner">

        <h2>
          Sticky footer
        </h2>

        <p>
          Click the button bellow to toggle extra content on and off, and notice how the footer stays at the bottom regardless of how much content is in the top cell.
        </p>

        <button type="button" class="button button-primary js-toggle-content" data-content="sticky-extra-content">
          Toggle extra content
        </button>

        <div class="content-hide" id="sticky-extra-content">

          <blockquote>
            {{#markdown}}
              {{> extra-content }}
            {{/markdown}}
          </blockquote>

        </div>

      </div>

    </div>

    <div class="gl-cell" style="height: 80px">
      <div class="gl-inner">
        Sticky Footer
      </div>
    </div>

  </div>

</div>
