---
layout: main.html
title: ''
---

<div class="gl gl-vertical">

  <div class="gl-cell header-demo">
    <a href="/">
      &laquo; Back to documentation
    </a>

    <h1>
      GridLayout
    </h1>

    <a href="#demos">
      Demos
    </a>

    <ul id="demos">
      <li>
        <a href="/demos/holy.html">
          Holy Grail Layout
        </a>
      </li>
      <li>
        <a href="/demos/mail.html">
          Email App
        </a>
      </li>
      <li>
        <a href="/demos/simple.html">
          Simple Layout
        </a>
      </li>
      <li>
        <a href="/demos/sticky.html">
          Sticky Footer
        </a>
      </li>
    </ul>
  </div>

  <div class="gl-cell">
    {{> body }}
  </div>
</div>

<script src="/js/demos.js"></script>
