---
layout: main.html
title: ''
---

<div class="gl gl-vertical">

  <div class="gl-cell header-demo">

    <div class="gl">

      <div class="gl-cell">

        <a href="/" class="button-back">
          &laquo; Back to documentation
        </a>

        <h1>
          GridLayout
        </h1>

      </div>

      <div class="gl-cell">

        <div class="dropdown">

          <a href="#dropdown-demos" class="button dropdown-button">
            Demos
          </a>

          <ul id="dropdown-demos" class="dropdown-content">
            <li>
              <a href="/demos/holy.html">
                Holy Grail Layout
              </a>
            </li>
            <li>
              <a href="/demos/mail.html">
                Email App
              </a>
            </li>
            <li>
              <a href="/demos/simple.html">
                Simple Layout
              </a>
            </li>
            <li>
              <a href="/demos/sticky.html">
                Sticky Footer
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <div class="gl-cell">
    {{> body }}
  </div>
</div>

<script src="/js/demos.js"></script>
