<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; GridLayout
    {{else}}
      GridLayout &#8212; Lightweight grid system for advanced web app layouts, with support for older browsers.
    {{/if}}
  </title>
  <meta name="description" content="Lightweight grid system for advanced horizontal and vertical responsive web app layouts, as a flexbox-alternative with support for older browsers.">
  <meta name="keywords" content="css grid,flexbox,responsive,resposive grid,flexbox for ie">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{base}}bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="{{base}}bower_components/prism/themes/prism.css">
  <link rel="stylesheet" href="{{base}}css/site.css">
  <link rel="stylesheet" href="{{base}}gridlayout.min.css">

  <!--[if lte IE 8]>
  <script src="{{base}}bower_components/respond/dest/respond.min.js"></script>
  <script src="{{base}}bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body>

  {{> body }}

  <script src="{{base}}gridlayout-ie.min.js"></script>

  <!--[if !(lte IE 8)]><!-->
  <script src="{{base}}bower_components/prism/prism.js"></script>
  <!--<![endif]-->
</body>
</html>
