<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; gridlayout
    {{else}}
      gridlayout
    {{/if}}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/bower_components/prism/themes/prism.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/gridlayout.css">

</head>
<body>

  {{> body }}

  <script src="/gridlayout-ie.js"></script>
  <script src="/bower_components/prism/prism.js"></script>

</body>
</html>
