/* styles for docs
 */

html,
body {
  display: block;
  height: 100%;
  margin: 0;
}

body {
  padding: 20px;
}

.gl-cell {
  background: lightgreen;
  outline: 1px solid #fff;
}

.gl-scrollview {
  outline: 1px solid red;
}

.gl-scrollview-content {
  outline: 1px solid blue;
}