/* GridLayout
 * 
 * Ionuț Colceriu - ghinda.net
 * https://github.com/ghinda/gridlayout
 */

@import 'nib';

/* media-query mixin
 */

media-query($size) {
  
  /* min-width 641px
   */
  if $size == md {
    @media only screen and (min-width: 40.063em) {
      {block}
    }
  }
  
  /* min-width 1025px
   */
  if $size == lg {
    @media only screen and (min-width: 64.063em) {
      {block}
    }
  }
  
}

/* grid layout defaults
 */

.gl,
.gl-cell,
.gl-scrollview {
  box-sizing: border-box;
}

.gl {
  width: 100%;
}

.gl-cell {
  position: relative;
}

/* cell sizes mixin.
 * 12 rows/columns.
 */

grid-sizes($size) {
  
  for $i in (1..12) {

    .gl-cell.gl-{$size}-{$i} {
      width: (100 / 12) * $i * 1%;
    }
    
    &.gl-vertical > .gl-cell.gl-{$size}-{$i} {
      height: (100 / 12) * $i * 1%;
    }
    
  }
  
}

/* gridlayout mixin
 */

gl() {
  
  & {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  &.gl-vertical {
    height: 100%;
  }

  & > .gl-cell {
    display: table-cell;
  }
  
  &.gl-vertical > .gl-cell {
    display: table-row;
  }
  
  /* needs an absolute container, because IE and FF don't
   * support overflow: auto on table cells.
   * only an absolute container will take up the entire cell size.
   */

  &.gl-vertical > .gl-cell > .gl-scrollview {
    display: table-cell;
    position: relative;
  }

  /* scrollview-content needs to be content-box, because IE9 
   * deducts the scrollbar width twice, on absolutely positioned 
   * border-box elements.
   * https://social.msdn.microsoft.com/forums/ie/en-us/47c5148f-a142-4a99-9542-5f230c78cb3b/ie9-issue-with-boxsizing-borderbox
   * https://stackoverflow.com/questions/23555327/ie9-shrinking-div-on-overflowauto-scrollbar-appearance
   */

  & > .gl-cell > .gl-scrollview > .gl-scrollview-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    /* scrollviews in ios
    */
    overflow-scrolling: touch;
  }
  
    
  /* nested grids take up the full height
   */

  /* IE8 does not expand nested grids to take up the full height,
   * unless included in a scrollview.
   */

  & > .gl-cell > &,
  & > .gl-cell > .gl-scrollview > .gl-scrollview-content > & {
    height: 100%;
    
    /* IE9+ adds spacing around nested tables otherwise,
    * causing scrollbars on scrollviews.
    */
    overflow: hidden;
  }

  /* IE8 and FF don't set the right height
   * on cells without non-absolute content.
   * IE9+ needs real, non-whitespace, (eg. \A) content.
   */

  & > .gl-cell > .gl-scrollview:after {
    content: '*';
    visibility: hidden;
  }
  
}

/* grid shows up md and up
 */

+media-query(md) {
  .gl {
    gl();
  }
  
  grid-sizes(sm);
  grid-sizes(md);
}

/* large grid sizes
 */
+media-query(lg) {
  grid-sizes(lg);
}

/* show the grid on small screens when using the .gl-sm class
 */

.gl-sm {
  gl();
  
  grid-sizes(sm);
}

/* vertical alignment
 */

.gl-align-middle {
  vertical-align: middle;
}

.gl-align-bottom {
  vertical-align: bottom;
}

